<mat-toolbar >
  <mat-toolbar-row>
    <button mat-button (click)="opended =!opended">
      <mat-icon style="color: #ccc ;">menu</mat-icon>
    </button>
    <h4 style="color: #ccc ;">Loja do Ze</h4>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [opened]="opended" mode="side">
    <mat-list>
      <mat-list-item id="dashboard"><a routerLink="/dashboard">
          <mat-icon class="icons">home</mat-icon>
        </a><span style="color: #ccc" routerLink="/dashboard">Dashboard</span></mat-list-item>
      <mat-list-item id="cadastro"><a routerLink="/dashboard/cadastro-clientes">
          <mat-icon>group add</mat-icon>
        </a><span style="color: #ccc" routerLink="/dashboard/cadastro-clientes">Cadastro Cliente</span></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

