.card{
  background-color: #fff;
  width: 99%;
}

span{
  font-size: 18px;
}

p.titulo{
  margin-left: 5px;
  font-size: 28px;
}

mat-icon{
  font-size: 28px;
}

.titulo{
  padding: 3px;
  font-size: 20px;
}

.sub-titulo{
  font-size:15px;
}

a{
  color: black;
}

.arrow{
  font-size:10px;
}

.alert{
  color: white;
  background-color:red;
  display: inline-flex;
  padding: 5px;
}
