.card{
  background-color: #fff;
  width: 99%;
}

span{
  font-size: 18px;
}

p.titulo{
  margin-left: 5px;
  font-size: 28px;
}

mat-icon{
  font-size: 28px;
}

.titulo{
  padding: 3px;
  font-size: 20px;
}

.sub-titulo{
  font-size:15px;
}

a{
  color: black;
}

.arrow{
  font-size:10px;
}

mat-card-header{
  display: flex;
  align-items: end;
    color: #FFF;
  &.verde{
  background: #00B494 !important;
  border-top: 5px solid #008068 !important;
  border-bottom: 1px solid #008068 !important;
  }

  &.amarelo{
    background: #FABB3D !important;
    border-top: 5px solid #EEA306 !important;
    border-bottom: 1px solid #EEA306 !important;
  }

  &.vermelho{
    background: #FF524F !important;
    border-top: 5px solid #C63D3A !important;
    border-bottom: 1px solid #C63D3A !important;
  }
}

mat-card{
  padding:0;
  padding-bottom: 30px;
}

.usuarios{
  padding-left: 60px;
}

.container{
  margin-left:80px;
}

.button{
    width: 50%;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    display: block;
    background: #eee;
    color: #008068;
    font-weight: 400;
}
